---
layout: default
title: Projects
tags: []
---

h1= title

ul.projects-list
	each project in collections.project
		li
			picture
				img(src=project.data.image alt="" role="presentation")
			div
				h2= project.data.title
				p= project.data.description
				span.project-date= project.data.projectDate
				if project.data.url
					a(href=project.data.url) See it
				if project.data.repo
					a(href=project.data.repo) Source